{% load static %}
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href="https://cdn.discordapp.com/icons/715958380556058684/773d6583cd1d7aef41e701783d353aef.webp?size=128" type="image/x-icon">
<meta name="description" itemprop="description"
        content="Play your playlists and favourites tracks, albums, and artists " />
    <meta name="keywords"
        content="convert, convert playlists, transfer, syncing, smart links, free, apple music, streaming services" />
  {% block css %}
	<link rel="stylesheet" href="{% static "formStyle.css" %}">
  {% endblock %}
	<title>Youttify</title>
</head>

<body>

  {% block content %}
    <h1>Password Reset</h1>
    <form method="post">
      {% csrf_token %}
      {{ password_reset_form.as_p }}
      <button type="submit">Send email</button>
    </form>
  {% endblock %}

</body>

</html>